<!DOCTYPE html>
<html>
  <head>
    <title>SuperRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# img: sign_up_page %>
    <script type="text/javascript">window.logoURL = "<%= image_url('logo.png') %>"; </script>
    <script type="text/javascript">window.signup1URL = "<%= image_url('signup_1.png') %>"; </script>
    <script type="text/javascript">window.signup2URL = "<%= image_url('signup_2.png') %>"; </script>
    <script type="text/javascript">window.signup3URL = "<%= image_url('signup_3.png') %>"; </script>
    <%# img: splash_page %>
    <script type="text/javascript">window.splash1URL = "<%= image_url('splash_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest1URL = "<%= image_url('splash_why_invest_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest2URL = "<%= image_url('splash_why_invest_2.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest3URL = "<%= image_url('splash_why_invest_3.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh1URL = "<%= image_url('splash_why_sfh_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh2URL = "<%= image_url('splash_why_sfh_2.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh3URL = "<%= image_url('splash_why_sfh_3.png') %>"; </script>


  </head>

<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = {
        'id': <%= current_user.id %>,
        'email': <%= current_user.email %>
      }
  </script>
<% end %>
  <body>
    <%= yield %>
  </body>
</html>
