<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="Super Rental" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="Super Rental is a marketplace where users can browse rental properties 
       across the nation and make offers on the property online. "
     />
     <meta property="og:url"
       content="https://superental.herokuapp.com/"
     />
    
    <title>SuperRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application' , media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDdOoUbjEwNUp41qNxe7RBOx8mhH4ZfQ3o" %>
    <%# font %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap" rel="stylesheet">
    <%# img: sign_up_page %>
    <script type="text/javascript">window.logoURL = "<%= image_url('logo.png') %>"; </script>
    <script type="text/javascript">window.signup1URL = "<%= image_url('signup_1.png') %>"; </script>
    <script type="text/javascript">window.signup2URL = "<%= image_url('signup_2.png') %>"; </script>
    <script type="text/javascript">window.signup3URL = "<%= image_url('signup_3.png') %>"; </script>
    <%# img: splash_page %>
    <script type="text/javascript">window.splash1URL = "<%= image_url('splash_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest1URL = "<%= image_url('splash_why_invest_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest2URL = "<%= image_url('splash_why_invest_2.png') %>"; </script>
    <script type="text/javascript">window.splashWhyInvest3URL = "<%= image_url('splash_why_invest_3.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh1URL = "<%= image_url('splash_why_sfh_1.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh2URL = "<%= image_url('splash_why_sfh_2.png') %>"; </script>
    <script type="text/javascript">window.splashWhySfh3URL = "<%= image_url('splash_why_sfh_3.png') %>"; </script>
    <%# img: favorite_page %>
    <script type="text/javascript">window.heartURL = "<%= image_url('heart.png') %>"; </script>
    <script type="text/javascript">window.unHeartURL = "<%= image_url('unheart.png') %>"; </script>
    

  </head>

<% if logged_in? %>
  <script type="text/javascript">
      window.currentUser = {
        'id': <%= current_user.id %>,
        'email': '<%= current_user.email %>'
      }
  </script>
<% end %>
  <body>
    <%= yield %>
  </body>
</html>